{% extends "base.html" %}
{% block content %}

<div class="jumbotron bg-white">
    <h1>Description of the developer</h1>
    <p>My name is Pranav Kengale. I am a passionate software developer with extensive expertise in the backend, frontend, full stack development, blockchain, data science, and machine learning, with a strong background in programming languages such as Python, Javascript, and Node.js. I am particularly skilled at developing solid server-side apps and implementing effective APIs to connect with Frontend technologies such as HTML5, CSS3, JavaScript, and frameworks such as React.js which are utilized to develop captivating user interfaces. With a never-ending thirst for knowledge, I remain at the forefront of industry advancements, consistently delivering exceptional results in the ever-evolving world of software development.</p>
</div>

{% endblock  %}
